<form>
    <% if idea.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

        <ul>
     <!--    <% idea.errors.full_messages.each do |message| %> -->
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <label>Title</label>
      <input type="text" name="title" id="idea_name">
    </div>

    <div class="field">
      <label>Description</label>
      <textarea id="idea_description"></textarea>
    </div>

    <div class="field">
      <label>Hình ảnh</label>
      <input type="file" id="idea_picture" name="img">
    </div>

    <div class="row actions" style="padding: 0 15px;">
      <input type="submit" class="btn btn-primary btn2 col-md-3 col-md-offset-9" value="Hoàn thành">
    </div>
</form>
<style>
    label {
      width: 30%;
      float: left;
    }
    input, textarea {
      width: 70%;
    }
    .btn2 {
      background-color: #428bca;
    }
</style>